faiss-cpu==1.9.0.post1
transformers==4.46.3
torch==2.5.1
pandas==2.2.3
Pillow==11.1.0
streamlit== 1.41.0
python-dotenv==1.0.1
pydantic==2.10.4
requests==2.32.3
pyyaml==6.0.1
scikit-learn==1.5.1
sentence-transformers==3.3.1
sentencepiece==0.2.0
langchain==0.3.13
langchain-openai==0.2.14
langchain-core==0.3.28
guardrails-ai==0.6.2
guardrails-api-client==0.4.0a1
guardrails_hub_types==0.0.4
PyMuPDF==1.24.14
firecrawl-py==1.7.0
opik==1.3.3
python-docx==1.1.2
python-pptx==1.0.2
ipython==8.12.3
phi==0.6.7
phidata==2.7.6
smolagents==1.0.0
arize-phoenix==7.5.1
arize-phoenix-evals==0.18.0
arize-phoenix-otel==0.6.1
bs4==0.0.2
decorator==5.1.1
fastapi==0.115.5
huggingface-hub==0.27.0
git+https://github.com/Arize-ai/rag-llm-prompt-evaluator-guard
streamlit-pdf-viewer==0.0.20